**/.*/
!.github/
**/build*/
**/*build/
**/cmake-build-*/
**/venv*/
**/*venv/
**/__pycache__/
/.clang-format
/.clang-tidy
/.cmake-format.yaml
/mull.yml
/requirements.txt
*~
/docs/puppeteer_config.json
/docs/mermaid.conf
